<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitChat</title>
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/chatRoom.css">
  <script src="js/socket.io.js" ></script>
  <script src="js/chat.js"></script>
  <script>
    const username = localStorage.getItem('GitChat:username');
    const token = localStorage.getItem('GitChat:token');

    if (!token || !username) disconnect();

    this.gitChat = { username, token };

    function disconnect() {
      localStorage.removeItem('GitChat:username');
      localStorage.removeItem('GitChat:token');
      window.location = '/signIn';
    }
  </script>
</head>
<body>
  <section class="chat-room">
    <aside>
      <h2>Users</h2>
      <ul class="users"></ul>
    </aside>

    <div class="chat">
      <div class="wrapper">
        <section class="messages"></section>

        <form class="chat-form">
          <input placeholder="Type a message" name="message" autocomplete="off">
          <button>Send</button>
        </form>
      </div>
    </div>
  </section>

  <script>
    const usersHtmlList = document.querySelector('ul.users');

    function setup({ users, messages }) {
        users.forEach((user) => {
          chat.addUser(user);
        })

        messages.forEach((message) => {
          chat.addMessage(message);
        })
      }

    function showMessage({ text, user }) {
      const isOwnerOfTheMessage = gitChat.username === user.username;

      const messageDiv = document.createElement('div');
      messageDiv.innerHTML += `<span>${user.username}</span>`;
      messageDiv.innerHTML += `<p>${text}</p>`;

      if (isOwnerOfTheMessage) {
        messageDiv.classList.add('owner');
      }

      const messagesSection = document.querySelector('section.messages');

      const ableToScrollDown = messagesSection.scrollTop >= messagesSection.scrollHeight - 487 - 300;

      messagesSection.appendChild(messageDiv);

      if (ableToScrollDown) {
        messagesSection.scrollTop = messagesSection.scrollHeight;
      }
    }

    function showUser({ username }) {
      const userListItem = document.createElement('li');
      userListItem.innerText = username;
      userListItem.id = username;

      if (gitChat.username === username) {
        userListItem.classList.add('owner');
      }

      usersHtmlList.appendChild(userListItem);
    }

    function removeUser({ username }) {
      const userListItem = usersHtmlList.querySelector(`li#${username}`);

      usersHtmlList.removeChild(userListItem);
    }

    function manageChatObservers(notification) {
      const { type, user, message } = notification;

      const observers = {
        'add-user': () => showUser(user),
        'remove-user': () => removeUser(user),
        'add-message': () => showMessage(message),
      }

      const observerFunction = observers[type];

      if (observerFunction) {
        observerFunction();
      }
    }
  </script>
  <script>
    const socketio = io('http://localhost:3333', {
      query: { token: `Bearer ${token}` }
    });

    socketio.on('disconnect', disconnect);

    socketio.on('connect', () => {
      socketio.on('setup', setup);
      socketio.on('add-user', ({ user }) => chat.addUser(user));
      socketio.on('remove-user', ({ user }) => chat.removeUser(user.username));
      socketio.on('add-message', ({ message }) => chat.addMessage(message));
    })

    sendMessageWhenChatFormSubmit();

    chat.subscribe(manageChatObservers);

    function sendMessageWhenChatFormSubmit() {
      document.querySelector('form.chat-form').addEventListener('submit', (e) => {
        e.preventDefault();

        const messageInput = e.target.querySelector('input')

        if (messageInput) {
          socketio.emit('add-message', messageInput.value);
          messageInput.value = '';
          messageInput.focus;
        }
      })
    }
  </script>
</body>
</html>
